#title {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 36px;
	font-weight: 500;
}
#title img {
	margin-right: 15px;
	vertical-align: text-bottom;
}
.in-call { color: green; }

/* Style overrides for dark mode */
.dark body {
	background-color: #121212;
}

.dark * {
	color: #FFFFFF;
}

.dark .panel-title {
	color: #FFFFFF;
}
.dark .panel-body {
	background-color: #212121;
}
.dark .panel-heading {
	background-image: -webkit-linear-gradient(top,#515151 0,#222222 100%) !important;
	background-image: -o-linear-gradient(top,#515151 0,#222222 100%)!important;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#515151),to(#222222))!important;
	background-image: linear-gradient(to bottom,#515151 0,#222222 100%)!important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#515151', endColorstr='#222222', GradientType=0)!important;
	background-repeat: repeat-x;
}
